@import 'package:google_fonts/google_fonts.dart';
/*- Общие стили*/
body {
	font-family: 'Roboto', sans-serif ;
	background-color: #1C1C1C;
	color: #fff;
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0;
}

p+p {
	margin-top: 15px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0;
}

img {
	max-width: 100%;
}

.container {
	box-sizing: border-box;

	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 165px;
	height: 50px;

	font-weight: 550;
	font-size: 16px;

	text-transform: uppercase;

	background: #F6762C;
	border-radius: 5px;

	transition: opacity 0.3s;
}

.btn:hover {
	opacity: 0.8;
}

.btn--small {
	width: 140px;
	height: 40px;

	font-size: 12px;

}

/*- Шапка*/

.header {
	margin: 25px auto
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	display: flex;
	gap: 30px;
}

.header__nav a {
	font-size: 14px;
	opacity: 0.7;
}


.header__nav a.active {
	opacity: 1;
}

.header__nav a:hover {
	opacity: 0.9;
}

/*- Приветственная секция */

.welcome {
	box-sizing: border-box;
	min-height: 100vh;

	margin-top: -100px;
	padding: 240px 0px;

	background-image: url("./images/welcome-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.welcome__text {
	width: 550px;
}

.welcome__subtitle {
	font-size: 14px;
	letter-spacing: 0.1em;
}

.welcome__title {
	margin: 30px 0;
	font-size: 58px;
}

.welcome__desc {
	font-size: 18px;
	opacity: 0.7;
	margin-bottom: 30px;
}

/*- Список еды */

.food-list {
	padding: 80px 0;
}

.food-list .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px 10px;
}

.food-list__card {
	overflow: hidden;
	border-radius: 10px;
	background-color: #312F30;
	width: 260px;
	text-align: center;
}

.food-list__img {
	width: 100%;
	height: 175px;
	object-fit: cover;
}

.food-list__text-wrapper {
	padding: 30px 20px;
}

.food-list__title {
	margin-bottom: 15px;
	font-size: 20px;
}

.food-list__desc {
	text-align: center;
	opacity: 0.7;
}

/*Список еды*/

.order {
	background: #312F30;
	padding: 60px 0;
}


.order .container {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;

	 padding-right: 90px;
}

.order__img {
	max-width: 470px;
}

.order__text {
	max-width: 360px;
}

.order__title {
	margin-bottom: 25px;
	font-size: 44px;
}

.order__desc {
	margin-bottom: 15px;
	opacity: 0.7;
}

.order__price {
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.1em;
	color: #F6762C;
}

.order__price--old {
	font-size: 16px;
	text-decoration-line: line-through;
	opacity: 0.5;
}

.order__price + .order__price {
	margin-left: 3px;
}

.order .btn {
	margin-top: 10px;
}


/*Список еды*/

.product {
	padding: 150px 0;
}

.product .container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.product__card {
	box-sizing: border-box;

	width: 555px;
	min-height: 300px;

	padding: 60px 30px 60px 299px;

	background-color: #666;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.product__card:nth-child(even) {
	padding-left: 30px;
	padding-right: 290px;
}

.product__title {
	font-weight: 575;
	margin-bottom: 20px;
	font-size: 30px;
}

.product__desc {
	margin-bottom: 10px;
	opacity: 0.7;
}

.product__price {
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #F6762C;
}

.product__price--old {
	margin-left: 5px;
	text-decoration: line-through;
	opacity: 0.5;
}

.product .btn {
	margin-top: 10px;
}

.card-queen {
	background-image: url("./images/product-1.jpg");
}

.card-hut {
	background-image: url("./images/product-2.jpg");
}

.card-king {
	background-image: url("./images/product-3.jpg");
}

.card-papa {
	background-image: url("./images/product-4.jpg");
}


/*Feedback*/

.feedback {
	padding-bottom: 195px;
}

.feedback .container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 880px;

}

.feedback__text {
	max-width: 370px;
	margin: 0;
	text-align: center;
}

.feedback__text::before {
	content: url(./icons/quote.svg);
}

.feedback__desc {
	opacity: 0.7;
	margin: 30px 0;
}

.feedback__author {
	font-weight: 600;
	font-style: normal;
	font-size: 24px;


}

.feedback__subauthor {
	opacity: 0.7;
	font-weight: 500;
	font-size: 12px;
	display: block;
}


/*Download*/

.download {
	background-color: #312F30;
}

.download .container {
	padding: 60px 0;
	display: flex;
	justify-content: space-around;
}

.download__title {
	font-weight: 575;
	font-size: 40px;
}


/*Footer*/

.footer {
	padding: 120px 0;
}

.footer .footer__title {
	display: inline-block;
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
}

.footer a {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	transition: 0.3 color;
}

.footer a:hover {
	color: rgba(255, 255, 255, 0.9);
}

.footer .container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__logo {
	width: 70px;
	margin-bottom: 20px;
}

.footer__link + .footer__link{
	margin-top: 10px;
}

.footer__link {
	display: flex;
	align-items: center;
	gap: 5px;
}

.footer__link::before {
	height: 12px;
	width: 12px;
}

.footer__link-mail::before {
	content: url("./icons/email.svg");
}

.footer__link-web::before {
	content: url("./icons/web.svg");
}


.footer__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer__list-item + .footer__list-item {
	margin-top: 15px;
}

.footer__socials-link + .footer__socials-link {
	margin-left: 8px;
}




@media(max-width: 1100px) {
	.welcome__desc {
		opacity: 1;
	}
}


@media (max-width: 950px) {
	.order .container {
		flex-direction: column;
		padding-right: 0;
	}
	.order__text {
		text-align: center;
	}

	.order .btn {
		margin-left: auto;
		margin-right: auto;
	}
}


@media (max-width: 850px) {

	.food-list .container {
		justify-content: space-evenly;
	}

	.footer .container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "nav nav"
							 "contacts socials";
		justify-items: center;
		gap: 40px 150px;
	}

	.footer__contacts {
		grid-area: contacts;
		justify-self: end;
	}

	.footer__nav {
		grid-area: nav;
	}

	.footer__socials {
		grid-area: socials;
		align-self: center;
		justify-self: flex-start;
	}

	.footer-list {
		gap: 80px;
	}

	.footer {
		padding: 50px 0;
	}

	.feedback {
		padding-bottom: 100px;
	}
}


@media (max-width: 650px) {

	.header .btn {
		display: none;
	}

	.feedback__img {
		width: 200px;
	}

	.download__title {
		font-size: 30px;
	}

	.welcome {
		padding: 150px 0 100px;
		min-height: auto;
	}

	.welcome__text {
		width: 100%;
	}

	.welcome__title {
		font-size: 40px;
	}

	.welcome__desc {
		margin: 20px 0;
	}

	.product {
		padding: 60px 0 100px;
	}

	/*.header .container {
		flex-direction: column;
		gap: 10px;
	}

	.header__list {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	

	.welcome {
		margin-top: -240px;
	}*/
}